.rebox {
    margin: 25px 1rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
hr {
    margin: 7px 0px;
}
h2 {
    color: green;
}

.school {
    margin-bottom: 15px;
    
}
.a_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    
}

footer {
    margin-top:  calc(100vh - 675px);
}