/** <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.outfit-btn {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

* { margin: 0px;

}

/*  Navbar  */
.nav_container {
    display: flex ;
    flex-direction: row;
    justify-content: space-between;  
    background-color: aliceblue;
    
}

.nav_container > a {
    font-family: cursive;
    margin: 5px 14px ;
    text-decoration: none;
    color: black;
    border: 1px lightgray solid;
    border-radius: 30%;
    padding: 8px;
           
}

nav {
    display: flex ;
    flex-direction: row;
    justify-content: end;
  
}


.navlist  a:link, .navlist  a:visited {
    font-size: 1.2rem;
    color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .navlist a:hover, .navlist a:active {
    background-color: lightgray; 
    color: black;
  }                         

hr {
    color: lightslategray;
}
/* Hero section */
h1 {
    font-size: 3rem;
}
.container {
    padding: 0 10px;
    margin: 50px 100px;
}
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subheading {
    font-size: 1.5rem;
    margin: 10px 0;
    color: darkgray;
}
.hero  a { 
    width: 35%;
    text-decoration: none;
    padding: 0px;
    
    color: black;
}
.hero_logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    }

.hero_logo > img {
    height: 40px;
    padding: 5px;
    
}

button {
    width: 100%;
    color: green;
    border-radius: 20px;
    margin-top: 15px;
    padding: 20px;
    font-size: 100%;
    border: 0;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
footer {
    padding: 20px;
    background-color: aliceblue;
}

/** Responsiveness   **/

@media (max-width: 576px) { 
    h1 {
        font-size:2rem;
    }
    .subheading { 
        font-size: 1rem;
    }
    .container {
        margin: 10px ;
        padding: 5px;
    }
    .hero_logo > img {
        height: 30px;
        padding: 5px;
    }
    button {
        font-size: 0.8rem;
        width: 100%;
    }
    .hero a {
       text-decoration: none;
       padding: 0px;
       width: 50%;
       color: black;
    }
}